// Colors
$color-primary: #E4E3E3;
$color-secondary: #142846;
$color-thirdary: #E5E5E5;
$color-red: #F15754;
$color-green: #60A507;
$color-white: #ffffff;

// Breakpoints
$xs: 320px;
$md: 600px;
$xl: 1200px;
